<p-dialog [(visible)]="display">
    <p-header>
        {{titleCard}}
    </p-header>
    <span class="ui-float-label ui-fluid">
        <input id="NomeTarefa" [(ngModel)]='TaskSelected.nome' type="text" size="30" pInputText>
        <label for="NomeTarefa">Nome da tarefa</label>
    </span>
    <br>
    <p-dropdown [options]="Projects" [filter]="true" styleClass="tamanho" [style]="{width: '25vw'}" [(ngModel)]="TaskSelected.projeto"
        placeholder="Qual o projeto que ela pertence?"></p-dropdown>
    <br>
    <br>
    <div class="ui-g">
        <div class="ui-g-6">
            <h4>Horas Estimadas</h4>
            <div class="ui-inputgroup">
                <p-spinner [(ngModel)]="TaskSelected.tempoEstimado" [min]="0" [max]="100"></p-spinner>
                <span class="ui-inputgroup-addon">Hora(s)</span>
            </div>
        </div>
        <div class="ui-g-6">
            <h4>Horas Gastas</h4>
            <div class="ui-inputgroup">
                <p-spinner [(ngModel)]="TaskSelected.tempoGasto" [min]="0" [max]="100"></p-spinner>
                <span class="ui-inputgroup-addon">Hora(s)</span>
            </div>
        </div>
    </div>
    <span class="ui-fluid">
        <p-editor id="DescricaoTarefa" [(ngModel)]="TaskSelected.descricao" [style]="{'height':'300px'}"></p-editor>
    </span>

    <p-footer>
        <p-button icon="fa fa-fw fa-check" (click)="Task()" iconPos="right" label="Adicionar tarefa"></p-button>
    </p-footer>
</p-dialog>