<app-header></app-header>
<!-- criar horas -->

<p-fieldset [toggleable]="true" [collapsed]="true">
  <p-header>{{data}}</p-header>
  <div class="alinhar">
    <div class="md-form larguraMaxima">
      <input mdbInputDirective type="text" id="form1"  class="form-control">
      <label for="form1" class="">Descrição da tarefa</label>
    </div>
    <p-calendar [(ngModel)]="this.dados.data"></p-calendar>
    <button type="button" class="btn btn-primary " mdbWavesEffect (click)="log()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</p-fieldset>




<p-fieldset [toggleable]="true" [collapsed]="true">
  <p-header>{{data}}</p-header>
  <div class="card">
    <div class="card-body">
      <h1>Aqui estou. Eu existo</h1>
    </div>
  </div>
  Content
</p-fieldset>
<p-fieldset [toggleable]="true" [collapsed]="true">
  <p-header>{{data}}</p-header>
  <div class="card">
    <div class="card-body">
      <h1>Aqui estou. Eu existo</h1>
    </div>
  </div>
  Content
</p-fieldset>
