ui-card {
    text-align: center
}

.Nomebags{
    text-align:center;

    margin: auto;
   
}
.ryze{
    //margin-top: 5px;
margin-bottom: 12px;
background-color: gainsboro;
}


.teste{
    border-style: solid
}
.coluna{
     width: 17vw;
    /* height: 70vh;
    border-style: solid;
    border-width: 0.01em  */
}
.wrapper{
    display: flex;
    //max-width: 10vw;
    justify-content: center;
}
::ng-deep .ui-widget-content{
    margin-bottom: 1vh !important;
}
.ui-card {

    position: fixed !important;
}
.tamanho .ui-dropdown{
width: 150px;
}
/* ::ng-deep .ui-dropdown{
    width: 50vw !important;
} */