<div class="marginT">
        <div class="row">
            <div class="col-md-3">
                <p-button icon="fa fa-fw fa-check" (click)="showDialog()" iconPos="right" label="Adicionar tarefa"></p-button>
            </div>
            <div class="col-md-9">
                <ng-select placeholder="Escolha uma Story" style="width: 40vw">
                    <ng-option *ngFor="let projeto of Projects" [value]="projeto.nome">{{projeto.nome}}</ng-option>
                </ng-select>
            </div>
        </div>
    <div class='wrapper'>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>To Do</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.ToDo'>
                <div *ngFor='let text of Bags.ToDo'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>In progress</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.InProgress'>
                <div *ngFor='let text of Bags.InProgress'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>Testing</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.Testing'>
                <div *ngFor='let text of Bags.Testing'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>Done</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.Done'>
                <div *ngFor='let text of Bags.Done'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>BackLog</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.BackLog'>
                <div *ngFor='let text of Bags.BackLog'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header stylish-color lighten-2 text-center z-depth-8 white-text">
                <h3>Impediment</h3>
            </div>
            <div class='card-body container coluna' [dragula]='"another-bag"' [dragulaModel]='Bags.Impediment'>
                <div *ngFor='let text of Bags.Impediment'>
                    <div class="card ryze hoverable">
                        <div class="card-body" (click)="selectedTask(text)">
                            <p-toolbar>{{text.nome}}</p-toolbar>
                            <p>{{text.situacao}}</p>
                            <p-button label="Clique para mais detalhes" (click)="selectedTask(text)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- style="overflow: auto" -->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog modal-lg cascading-modal" role="document">
        <div class="modal-content" style=" bottom: 10vh; ">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user-plus"></i> {{titleCard}}</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body container-fluid">

                <div class="md-form form-sm">
                    <i class="fa fa-address-card prefix"></i>
                    <input mdbInputDirective type="text" [mdbValidate]="false" [(ngModel)]='TaskSelected.nome' id="NomeTarefa" class="form-control">
                    <label for="NomeTarefa">Nome da tarefa</label>
                </div>
                <div class="md-form">
                    <ng-select [(ngModel)]="TaskSelected.projeto" placeholder="Qual o projeto que ela pertence?">
                        <ng-option *ngFor="let projeto of Projects" [value]="projeto.nome">{{projeto.nome}}</ng-option>
                    </ng-select>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form form-sm">
                            <i class="fa fa-clock-o prefix"></i>
                            <input mdbInputDirective type="number" [mdbValidate]="false" [(ngModel)]='TaskSelected.tempoEstimado' id="HorasEstimadas"
                                class="form-control">
                            <label for="HorasEstimadas">Horas Estimadas</label>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="md-form form-sm">
                            <i class="fa fa-clock-o prefix"></i>
                            <input mdbInputDirective type="number" [mdbValidate]="false" [(ngModel)]='TaskSelected.tempoGasto' id="HorasGastas" class="form-control">
                            <label for="HorasGastas">Horas Gastas</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p-editor id="DescricaoTarefa" [(ngModel)]="TaskSelected.descricao" [style]="{'height':'200px'}"></p-editor>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light animated zoomInLeft" (click)="Task()" mdbWavesEffect>Adicionar tarefa
                        <i class="fa fa-check  ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>