<fundo>
  <div class="grande {{AnimateClass}}">
    <p-card>
        <p class="h5 text-center mb-4">Signsasaasasasa in</p>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="defaultForm-email" [(ngModel)]='LoginData.username' class="form-control" mdbInputDirective>
          <label for="defaultForm-email">Seu email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="defaultForm-pass" [(ngModel)]='LoginData.password' class="form-control" mdbInputDirective>
          <label for="defaultForm-pass">Sua Senha</label>
        </div>
        <div class="text-center">
          <input type="submit" (click)="LogIn()" class="btn btn-default waves-light" mdbWavesEffect value="Login">
        </div>
    </p-card>
  </div>
</fundo>
