<p-toolbar>
    <div class="ui-toolbar-group-left">
        <i class="fa fa-2x fa-bars" (click)="openSidenav()"></i>
        <!-- (click)="fluid.show()" -->
        <img src="..\assets\Logo2.png" class="tamanho" alt="">
    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa-search"></button>
        <i class="fa fa-bars"></i>
        <button pButton type="button" icon="fa-refresh"></button>
        <button pButton type="button" (click)="openSidenav()" icon="fa-trash"></button>
    </div>
</p-toolbar>
<div id="mySidenav" class="sidenav {{showClass}} {{AnimateClass}}">
    <div *ngFor="let item of menubar">
        <span class="closebtn" (click)="openSidenav()">X</span>
        <span class="{{item.class}}" (click)="GoTo(item)">{{item.nome}}</span>
    </div>
</div>

<div mdbModal #fluid="mdb-modal" class="modal fade left" id="fullHeightModalLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-left modal-sm" role="document">
        <div class="modal-content sidenav">

            <div class="modal-body">
                <div *ngFor="let item of menubar">
                    <span class="{{item.class}}" (click)="GoTo(item)">{{item.nome}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
