<app-header></app-header>

<p-button icon="fa fa-fw fa-check" (click)="showDialog();form.show()" iconPos="right" label="Adicionar Projeto"></p-button>
<div class="row">
  <div class="col-6">
    <ul class="list-group" *ngFor="let elemento of projetos">
      <button type="button" class="btn btn-light-blue btn-lg btn-block waves-light" mdbWavesEffect (click)="selectedTask(elemento)">{{elemento.nome}}</button>

    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group" *ngFor="let elemento of projetos">
      <li class="list-group-item btn-block" mdbWavesEffect (click)="selectedTask(elemento)">{{elemento.nome}}</li>
    </ul>
  </div>
  <div mdbModal #form="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog modal-lg cascading-modal" role="document">
      <div class="modal-content" style=" bottom: 10vh; ">
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title">
            <i class="fa fa-user-plus"></i> {{titleCard}}</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body container-fluid">
          <div class="md-form form-sm">
            <i class="fa fa-address-card prefix"></i>
            <input mdbInputDirective type="text" [mdbValidate]="false" [(ngModel)]='ProjectSelected.nome' id="NomeTarefa" class="form-control">
            <label for="NomeTarefa">Nome do Projeto</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form form-sm">
                <i class="fa fa-building prefix"></i>
                <input mdbInputDirective type="text" [mdbValidate]="false" [(ngModel)]='ProjectSelected.empresaResponsavel' id="empresaResponsavel"
                  class="form-control">
                <label for="empresaResponsavel">Empresa Responsavel</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form form-sm">
                <i class="fa fa-user prefix"></i>
                <input mdbInputDirective type="text" [mdbValidate]="false" [(ngModel)]='ProjectSelected.usuarioResponsavel' id="usuarioResponsavel"
                  class="form-control">
                <label for="usuarioResponsavel">Usuario Responsavel</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p-editor id="DescricaoTarefa" [(ngModel)]="ProjectSelected.descricao" [style]="{'height':'200px'}"></p-editor>
            </div>
          </div>
          <div class="text-center mt-2">
            <button class="btn btn-info waves-light" (click)="writeProject()" mdbWavesEffect>Adicionar tarefa
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>