<div class="omega">
    <p-header style="text-align:center;">
        <h3>iBlue</h3>
    </p-header>
<p-panelMenu [model]="items" [style]="{'width':'100%'}" [style]="{'height': '100%'}">
    
</p-panelMenu>
</div>